<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
		  <font color=#ffffff><u>Arc</u>hitecture and
		  <u>Sys</u>tem
		  <u>U</u>pscaling</font>
		  (<b><font color="#009999">ARC</font><font color="#0000C6">SYS</font><font color="#339900">U</font></b>)
		  <font color=#ffffff>lab @ SYSU</a></font>

		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <!-- <ul class="nav navbar-nav navbar-right">
			{% if page.zh_url %}
				<li class="lang-switch">
					<a href="{{ site.url }}{{ site.baseurl }}{{ page.zh_url }}" title="切换至中文">
						<img src="{{ '/images/i18n.svg' | relative_url }}" alt="EN" />
					</a>
				</li>
            {% endif %}
	  </ul> -->
	  <ul class="nav navbar-nav navbar-right">
		{% if page.permalink == '/' %}
			<li class="active"><a href="{{ site.url }}{{ site.baseurl }}/"><font color=#ffffff>Home</font></a></li>
		{% else %}
			<li><a href="{{ site.url }}{{ site.baseurl }}/"><font color=#ffffff>Home</font></a></li>
		{% endif %}
		{% if page.permalink == '/people' or page.url == '/people' %}
			<li class="active"><a href="{{ site.url }}{{ site.baseurl }}/people"><font color=#ffffff>People</font></a></li>
		{% else %}
			<li><a href="{{ site.url }}{{ site.baseurl }}/people"><font color=#ffffff>People</font></a></li>
		{% endif %}

		{% if page.permalink == '/publications' or page.url == '/publications' %}
			<li class="active"><a href="{{ site.url }}{{ site.baseurl }}/publications"><font color=#ffffff>Publications</font></a></li>
		{% else %}
			<li><a href="{{ site.url }}{{ site.baseurl }}/publications"><font color=#ffffff>Publications</font></a></li>
		{% endif %}

	    <!--<li><a href="{{ site.url }}{{ site.baseurl }}/projects">Projects</a></li>-->

		{% if page.permalink == '/misc' or page.url == '/misc' %}
			<li class="active"><a href="{{ site.url }}{{ site.baseurl }}/misc"><font color=#ffffff>Miscellaneous</font></a></li>
		{% else %}
			<li><a href="{{ site.url }}{{ site.baseurl }}/misc"><font color=#ffffff>Miscellaneous</font></a></li>
		{% endif %}
	<!-- li><a href="{{ site.url }}{{ site.baseurl }}/pictures">(Pics)</a></li> -->
	  </ul>
	</div>
  </div>
</div>
