<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>


    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
      <u>Arc</u>hitecture and
      <u>Sys</u>tem
      <u>U</u>pscaling
      (<b><font color="#00CCCC">ARC</font><font color="#0505E8">SYS</font><font color="#66CC00">U</font></b>)
      lab @ SYSU</a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
      <!-- <ul class="nav navbar-nav navbar-right">
			{% if page.en_url %}
				<li class="lang-switch">
					<a href="{{ site.url }}{{ site.baseurl }}{{ page.en_url }}" title="Switch to English">
						<img src="{{ '/images/i18n.svg' | relative_url }}" alt="EN" />
					</a>
				</li>
            {% endif %}
	  </ul> -->
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/zh/home">主页</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/zh/people">成员</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/zh/publications">学术成果</a></li>
    <!--<li><a href="{{ site.url }}{{ site.baseurl }}/projects">Projects</a></li>-->
		<li><a href="{{ site.url }}{{ site.baseurl }}/zh/misc">其他</a></li>
	<!-- li><a href="{{ site.url }}{{ site.baseurl }}/pictures">(Pics)</a></li> -->
	  </ul>
	</div>
  </div>
</div>
