<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% if page.lang == 'en' %}
      {% include header_en.html %}
    {% elsif page.lang == 'zh-CN' %}
      {% include header_zh.html %}
    {% endif %}
    
    
    <div class="container-fluid">
      <div class="row">
        {{ content }}
      </div>
    </div>

    {% if page.lang == 'en' %}
      {% include footer_en.html %}
    {% elsif page.lang == 'zh-CN' %}
      {% include footer_zh.html %}
    {% endif %}

  </body>

</html>
